In [9]:
import sqlite3
from sqlite3 import Error

In [13]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [14]:



 
rows = cur.fetchall()

In [19]:

database = "./sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()

2.6.0

In [29]:
#/* Q10: Produce a list of facilities with a total revenue less than 1000. 
# The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! */
# SELECT count(*), DATE_FORMAT(starttime, '%Y-%m') AS formated_date from `Bookings` group by formated_date

query1 = """
SELECT f.name,

    sum( case when b.memid=0 then slots*f.guestcost
    else slots*f.membercost
    end)-f.initialoutlay-monthlymaintenance*3 as revenue 

    FROM `Bookings` as b
    left join `Facilities` as f on b.facid=f.facid
	group by b.facid
    having revenue<1000

    """


cur.execute(query1)
rows = cur.fetchall()
rows

[('Badminton Court', -2243.5),
 ('Table Tennis', -170),
 ('Snooker Table', -255),
 ('Pool Table', -175)]

In [41]:
# /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
query11='''
SELECT a.surname, a.firstname, b.surname || ' ' || b.firstname as recommendedby

FROM ( select * from Members where recommendedby >=1 ) as a

inner join Members as b on a.recommendedby = b.memid
order by 1,2
'''

cur.execute(query11)
rows=cur.fetchall()
rows

[('Bader', 'Florence', 'Stibbons Ponder'),
 ('Baker', 'Anne', 'Stibbons Ponder'),
 ('Baker', 'Timothy', 'Farrell Jemima'),
 ('Boothe', 'Tim', 'Rownam Tim'),
 ('Butters', 'Gerald', 'Smith Darren'),
 ('Coplin', 'Joan', 'Baker Timothy'),
 ('Crumpet', 'Erica', 'Smith Tracy'),
 ('Dare', 'Nancy', 'Joplette Janice'),
 ('Genting', 'Matthew', 'Butters Gerald'),
 ('Hunt', 'John', 'Purview Millicent'),
 ('Jones', 'David', 'Joplette Janice'),
 ('Jones', 'Douglas', 'Jones David'),
 ('Joplette', 'Janice', 'Smith Darren'),
 ('Mackenzie', 'Anna', 'Smith Darren'),
 ('Owen', 'Charles', 'Smith Darren'),
 ('Pinker', 'David', 'Farrell Jemima'),
 ('Purview', 'Millicent', 'Smith Tracy'),
 ('Rumney', 'Henrietta', 'Genting Matthew'),
 ('Sarwin', 'Ramnaresh', 'Bader Florence'),
 ('Smith', 'Jack', 'Smith Darren'),
 ('Stibbons', 'Ponder', 'Tracy Burton'),
 ('Worthington-Smyth', 'Henry', 'Smith Tracy')]

In [42]:
# /* Q12: Find the facilities with their usage by member, but not guests */
query12='''
SELECT f.name,count(*) FROM `Bookings` as b, `Facilities` as f
WHERE memid!=0 and b.facid=f.facid
group by b.facid
'''
cur.execute(query12)
rows=cur.fetchall()
rows

[('Tennis Court 1', 308),
 ('Tennis Court 2', 276),
 ('Badminton Court', 344),
 ('Table Tennis', 385),
 ('Massage Room 1', 421),
 ('Massage Room 2', 27),
 ('Squash Court', 195),
 ('Snooker Table', 421),
 ('Pool Table', 783)]

In [45]:
# /* Q13: Find the facilities usage by month, but not guests */
query13='''
SELECT facid,  strftime('%m', starttime) as month,count(*) as C FROM `Bookings` where memid!=0 group by 1,2
'''

cur.execute(query13)
rows=cur.fetchall()
rows

[(0, '07', 65),
 (0, '08', 111),
 (0, '09', 132),
 (1, '07', 41),
 (1, '08', 109),
 (1, '09', 126),
 (2, '07', 51),
 (2, '08', 132),
 (2, '09', 161),
 (3, '07', 48),
 (3, '08', 143),
 (3, '09', 194),
 (4, '07', 77),
 (4, '08', 153),
 (4, '09', 191),
 (5, '07', 4),
 (5, '08', 9),
 (5, '09', 14),
 (6, '07', 23),
 (6, '08', 85),
 (6, '09', 87),
 (7, '07', 68),
 (7, '08', 154),
 (7, '09', 199),
 (8, '07', 103),
 (8, '08', 272),
 (8, '09', 408)]